@use "../../foundation/breakpoints" as *;
@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

/* ===================================================
buttons
====================================================*/

.btn{
	// background-color:$ye ;
	// color: $gr;
	font-size: 20px;
	padding: 30px 0;
	border-radius: 9999px;
	text-align: center;
	margin: 0 auto;
	// border: 4px solid $gr;
	transition: .3s ease;
	font-size: 30px;
	line-height: 1;
	@include mq(sm){
		// border: 2px solid $gr;
		font-size: 25px;
		padding: 25px 0;
	}
	&__off{
		color: #7F7F7F;
		background-color: #AAAAAA;
		border: 4px solid #AAAAAA;
		&:hover{
			color: #7F7F7F;
			background-color: #AAAAAA;
			border: 4px solid #AAAAAA;
		}
	}
}
.btnWid{
	max-width: 480px;
	width: 100%;
}